@{
    ViewData["Title"] = "About Page";
}

			<!-- Content -->
		    <div class="content" data-simplebar>
				<!-- About -->
				<div class="section mt-0">
		            <h1 class="title title--h1 title__separate">About Me</h1>
					<div class="pt-2 pt-sm-3">
					    <p>I'm a kinda Creative Happy:) Programmer who wants to be a great SoftWare Engineer. I enjoy struggling into complex problems.</p>
                        <p class="mb-0">My job is to build your website and increase its functionality at the same time.</p>
				    </div>
				</div>
						
				<!-- What -->
				<div class="section">
					<h2 class="title title--h2">What I'm Doing</h2>
					<div class="row">
						<!-- Case Item -->
						<div class="col-12 col-lg-6 case-item-wrap">
							<div class="case-item">
								<img class="case-item__icon" src="/NewFolder2/assets/icons/icon-design.svg" alt="" />
								<h3 class="title title--h3">Web Design</h3>
								<p class="case-item__caption">The most modern and high-quality design made at a professional level. </p>
							</div>
						</div>
								
						<!-- Case Item -->
						<div class="col-12 col-lg-6 case-item-wrap">
							<div class="case-item">
								<img class="case-item__icon" src="/NewFolder2/assets/icons/icon-dev.svg" alt="" />
								<h3 class="title title--h3">Web Development</h3>
								<p class="case-item__caption">High-quality development of sites at the professional level.</p>
							</div>
						</div>
								
@*						<!-- Case Item -->
						<div class="col-12 col-lg-6 case-item-wrap">
							<div class="case-item">
								<img class="case-item__icon" src="/NewFolder2/assets/icons/icon-design.svg" alt="" />
								<h3 class="title title--h3">Mobile Apps</h3>
								<p class="case-item__caption">Professional development of applications for iOS and Android.</p>
							</div>
						</div>
								
						<!-- Case Item -->
						<div class="col-12 col-lg-6 case-item-wrap">
							<div class="case-item">
								<img class="case-item__icon" src="/NewFolder2/assets/icons/icon-dev.svg" alt="" />
								<h3 class="title title--h3">Photography</h3>
								<p class="case-item__caption">I make high-quality photos of any category at a professional level.</p>
							</div>
						</div>*@
					</div>	
				</div>
				
				<!-- Testimonials -->
				<div class="section">
					<h2 class="title title--h2">Testimonials</h2>
					<div class="swiper-container js-carousel-review">
                        <div class="swiper-wrapper">
						    <!-- Item review -->
                            <div class="swiper-slide review-item">
								<svg class="avatar avatar--80" viewBox="0 0 84 84">
                                    <g class="avatar__hexagon">
                                        <image href="/NewFolder2/assets/img/avatar-2.jpg" height="100%" width="100%" />
                                    </g>
                                </svg>
								<h4 class="title title--h3">Parsa</h4>
								<p class="review-item__caption">"Pouria is an incredibly talented individual with a strong work ethic. Her dedication and attention to detail shine through in every project she undertakes, making her a valuable asset to any team."</p>
							</div>
									
							<!-- Item review -->
                            <div class="swiper-slide review-item">
								<svg class="avatar avatar--80" viewBox="0 0 84 84">
                                    <g class="avatar__hexagon">
                                        <image xlink:href="/NewFolder2/assets/img/avatar-3.jpg" height="100%" width="100%" />
                                    </g>
                                </svg>
								<h4 class="title title--h3">Moslem</h4>
								<p class="review-item__caption">"I know him as a highly skilled professional who consistently delivers exceptional results. His ability to tackle complex challenges with ease and his commitment to producing high-quality work make him a standout performer."</p>
							</div>
									
							<!-- Item review -->
                            <div class="swiper-slide review-item">
								<svg class="avatar avatar--80" viewBox="0 0 84 84">
                                    <g class="avatar__hexagon">
                                        <image xlink:href="/NewFolder2/assets/img/avatar-4.jpg" height="100%" width="100%" />
                                    </g>
                                </svg>
								<h4 class="title title--h3">Amir</h4>
								<p class="review-item__caption">"He is a reliable and resourceful team member who always goes above and beyond. Her strong organizational skills and ability to effectively communicate make her an invaluable asset to any project."</p>
							</div>
									
							<!-- Item review -->
                            <div class="swiper-slide review-item">
								<svg class="avatar avatar--80" viewBox="0 0 84 84">
                                    <g class="avatar__hexagon">
                                        <image xlink:href="/NewFolder2/assets/img/avatar-5.jpg" height="100%" width="100%" />
                                    </g>
                                </svg>
								<h4 class="title title--h3">Nima</h4>
								<p class="review-item__caption">"Pouria is a highly motivated individual with a keen eye for detail. His ability to think critically and find innovative solutions sets him apart, making him an asset to any team."</p>
							</div>
                        </div>
    
                        <div class="swiper-pagination"></div>
                    </div>
				</div>
				
                <!-- Clients -->
				<div class="section">
					<h2 class="title title--h2">Clients</h2>
					<div class="swiper-container js-carousel-clients">
                        <div class="swiper-wrapper">
							<!-- Item client -->
                            <div class="swiper-slide">
								<a href="#"><img src="/NewFolder2/assets/img/logo-partner.svg" alt="Logo" /></a>
							</div>
									
							<!-- Item client -->
                            <div class="swiper-slide">
								<a href="#"><img src="/NewFolder2/assets/img/logo-partner.svg" alt="Logo" /></a>
							</div>

							<!-- Item client -->
                            <div class="swiper-slide">
								<a href="#"><img src="/NewFolder2/assets/img/logo-partner.svg" alt="Logo" /></a>
							</div>

							<!-- Item client -->
                            <div class="swiper-slide">
								<a href="#"><img src="/NewFolder2/assets/img/logo-partner.svg" alt="Logo" /></a>
							</div>
						</div>
								
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div><!-- Content End -->