@{
    ViewData["Title"] = "Daneshkar Page";
}

			<!-- Content -->
		    <div class="content" data-simplebar>
			    <div class="section mt-0">
		            <h1 class="title title--h1 title__separate">Portfolio</h1>
				</div>
                <!-- Filter -->
                <div class="select section">
			        <span class="placeholder">Select category</span>
			        <ul class="filter">
			            <li class="filter__item">Category</li>
				        <li class="filter__item active" data-filter="*"><a class="filter__link active" href="#filter">All</a></li>
				        <li class="filter__item" data-filter=".category-concept"><a class="filter__link" href="#filter">Asp.Net</a></li>
				        <li class="filter__item" data-filter=".category-design"><a class="filter__link" href="#filter">Csharp</a></li>
				        <li class="filter__item" data-filter=".category-life"><a class="filter__link" href="#filter">FrontEnd</a></li>
			        </ul>
			        <input type="hidden" name="changemetoo"/>
		        </div>

				<!-- Content -->
				<div class="gallery-grid js-grid js-filter-container">
					<div class="gutter-sizer"></div>
					<!-- Item 1 -->
					<figure class="gallery-grid__item category-concept">
						<div class="gallery-grid__image-wrap">
                            <img class="gallery-grid__image cover lazyload" src="/NewFolder2/assets/img/image_01.jpg" data-zoom alt="" />
						</div>
                        <figcaption class="gallery-grid__caption">
							<h4 class="title title--h4 gallery-grid__title">Sample</h4>
							<span class="gallery-grid__category">Asp.Net</span>
						</figcaption>
                    </figure>

					<!-- Item 2 -->
					<figure class="gallery-grid__item category-concept">
						<div class="gallery-grid__image-wrap">
                            <img class="gallery-grid__image cover lazyload" src="/NewFolder2/assets/img/image_02.jpg" data-zoom alt="" />
						</div>	
                        <figcaption class="gallery-grid__caption">
							<h4 class="title title--h4 gallery-grid__title">Sample</h4>
							<span class="gallery-grid__category">Asp.Net</span>
						</figcaption>
                    </figure>

					<!-- Item 3 -->
					<figure class="gallery-grid__item category-design">
						<div class="gallery-grid__image-wrap">
                            <img class="gallery-grid__image cover lazyload" src="/NewFolder2/assets/img/image_03.jpg" data-zoom alt="" />
						</div>	
                        <figcaption class="gallery-grid__caption">
							<h4 class="title title--h4 gallery-grid__title">Sample</h4>
							<span class="gallery-grid__category">Csharp</span>
						</figcaption>
                    </figure>

					<!-- Item 4 -->
					<figure class="gallery-grid__item category-design">
						<div class="gallery-grid__image-wrap">
                            <img class="gallery-grid__image cover lazyload" src="/NewFolder2/assets/img/image_04.jpg" data-zoom alt="" />
						</div>
						<figcaption class="gallery-grid__caption">
							<h4 class="title title--h4 gallery-grid__title">Sample</h4>
							<span class="gallery-grid__category">Csharp</span>
						</figcaption>
                    </figure>

					<!-- Item 5 -->
					<figure class="gallery-grid__item category-design">
						<div class="gallery-grid__image-wrap">
                            <img class="gallery-grid__image cover lazyload" src="/NewFolder2/assets/img/image_05.jpg" data-zoom alt="" />
						</div>
						<figcaption class="gallery-grid__caption">
							<h4 class="title title--h4 gallery-grid__title">Sample</h4>
							<span class="gallery-grid__category">Csharp</span>
						</figcaption>
                    </figure>

					<!-- Item 6 -->
					<figure class="gallery-grid__item category-life">
						<div class="gallery-grid__image-wrap">
                            <img class="gallery-grid__image cover lazyload" src="/NewFolder2/assets/img/image_06.jpg" data-zoom alt="" />
						</div>
						<figcaption class="gallery-grid__caption">
							<h4 class="title title--h4 gallery-grid__title">Sample</h4>
							<span class="gallery-grid__category">FrontEnd</span>
						</figcaption>
                    </figure>

					<!-- Item 7 -->
					<figure class="gallery-grid__item category-concept">
						<div class="gallery-grid__image-wrap">
                            <img class="gallery-grid__image cover lazyload" src="/NewFolder2/assets/img/image_07.jpg" data-zoom alt="" />
						</div>
						<figcaption class="gallery-grid__caption">
							<h4 class="title title--h4 gallery-grid__title">Sample</h4>
							<span class="gallery-grid__category">Asp.Net</span>
						</figcaption>
                    </figure>

					<!-- Item 8 -->
					<figure class="gallery-grid__item category-design">
						<div class="gallery-grid__image-wrap">
                            <img class="gallery-grid__image cover lazyload" src="/NewFolder2/assets/img/image_08.jpg" data-zoom alt="" />
						</div>
						<figcaption class="gallery-grid__caption">
							<h4 class="title title--h4 gallery-grid__title">Sample</h4>
							<span class="gallery-grid__category">Csharp</span>
						</figcaption>
                    </figure>

					<!-- Item 9 -->
					<figure class="gallery-grid__item category-life">
						<div class="gallery-grid__image-wrap">
                            <img class="gallery-grid__image cover lazyload" src="/NewFolder2/assets/img/image_09.jpg" data-zoom alt="" />
						</div>
						<figcaption class="gallery-grid__caption">
							<h4 class="title title--h4 gallery-grid__title">Sample</h4>
							<span class="gallery-grid__category">FrontEnd</span>
						</figcaption>
                    </figure>
				</div>
			</div><!-- Content End -->