@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminLayout";
}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <h1>به پنل مدیریت سایت رزومه خوش آمدید </h1>
    </div>
    <!-- /.content-header -->


