@model Domain.Models.Entities.Experience.Experience
@{
    ViewData["Title"] = "DeleteAnExperiencePage";
    Layout = "_AdminLayout";

}

<div class="content-wrapper" style="min-height: 265.6px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">حذف سابقه ی شغلی</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/AdminPanel">داشبورد ادمین</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">حذف اطلاعات سوابق شغلی</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="DeleteAnExperience" asp-area="AdminPanel" asp-controller="Experience" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Id</label>
                                    <input type="text" readonly class="form-control" id="exampleInputEmail1" asp-for="Id">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">عنوان شغلی</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" asp-for="ExperienceTitle" placeholder="عنوان را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">بازه ی زمانی </label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" asp-for="ExperienceDuration" placeholder="بازه ی زمانی را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">سایت شرکت</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" asp-for="CompanySite" placeholder="سایت شرکت را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">نام شرکت</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" asp-for="CompanyName" placeholder="نام شرکت را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">توضیحات</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" asp-for="Description" placeholder="توضیحات را وارد کنید">
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-danger">حذف</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

</div>
